<h2>Your anime list</h2>

<h4>Welcome!</h4>

<form>
    <div>
        {{!-- this is the last watched --}}
    </div>
    <div>
        {{!-- this is the recently watched list --}}
    </div>
    <div>
        {{!-- this is the filler/canon episodes count down/ remaining list --}}
    </div>
</form>